replicaCount: 1

image:
  repository: "ghcr.io/platform-autorisatie-beheer-component/pabc-api"
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automountServiceAccountToken: true

podAnnotations: {}

podLabels: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000

livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  className: ""
  # -- ingress hosts
  hosts: []
  #  - host: pabc.gemeente.nl
  #    paths:
  #      - path: /
  #        pathType: ImplementationSpecific
  tls: []
  #  - secretName: pabc-tls
  #    hosts:
  #      - pabc.gemeente.nl

# -- Specify extra ingresses, for example if you have multiple ingress classes
extraIngress: []
# e.g:
# extraIngress:
#  - name: pabc-azuregateway
#    annotations:
#      appgw.ingress.kubernetes.io/ssl-redirect: "true"
#    className: azure-application-gateway
#    hosts:
#      - host: pabc.gemeente.nl
#        paths:
#          - path: /
#            pathType: ImplementationSpecific
#            servicename: pabc
#            portNumber: 8000
#    tls:
#      - secretName: pabc-tls
#        hosts:
#          - "pabc.gemeente.nl"

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 200m
  #   memory: 256Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

pdb:
  create: false
  minAvailable: 1
  maxUnavailable: ""

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: true
  size: 1Gi
  storageClassName: ""
  existingClaim: null

# Existing Secret must be defined for AzureVaultSecret to work
existingSecret: null

# This will create an AzureVaultSecret object in k8s, only Multi Key Value Secret are supported by this chart
# ref: https://akv2k8s.io/tutorials/sync/4-multi-key-value-secret/ https://learn.microsoft.com/en-us/azure/key-vault/secrets/multiline-secrets
# Using this feature requires you to define existingSecret
azureVaultSecret:
  # The name of the Azure Key Vault, setting this will create the AzureVaultSecret
  vaultName: null
  # The name of the Multi Key Value Secret
  objectName: ""
  # Make sure this matches the content of the secret, can be either 'application/x-json' or 'application/x-yaml'
  contentType: ""
  # You must set .Values.existingSecret
  secretName: "{{ .Values.existingSecret }}"

settings:
  database:
    host: ""
    port: 5432
    username: ""
    password: ""
    name: "pabc"

  # -- List of issued API keys. <details> <summary>More information </summary>The API keys can have any arbitrary value. Calls to the API must include an 'X-API-KEY' header with one of these API keys as the value.</details>
  apiKeys: []

  
  oidc:
    # -- URL of the OpenID Connect Identity Provider. <details> <summary>More information</summary> For example: `https://login.microsoftonline.com/ce1a3f2d-2265-4517-a8b4-3e4f381461ab/v2.0` </details>
    authority: ""
    # -- Client ID for accessing the OpenID Connect Identity Provider. <details> <summary>More information</summary> For example: `54f66f54-71e5-45f1-8634-9158c41f602a` </details>
    clientId: ""
    # -- Secret for the OpenID Connect Identity Provider. <details> <summary>More information</summary> For example: `VM2B!ccnebNe.M*gxH63*NXc8iTiAGhp` </details>
    clientSecret: ""
    # -- Value of the role claim in the JWT token from the OpenID Connect Provider required for access to the user interface for management functions. <details> <summary>More information</summary> For example: `PABC-Functioneel-Beheerder` </details>
    functioneelBeheerderRole: ""
    # -- The name of the claim in the JWT token from the OpenID Connect Provider that contains the full name of the logged-in user. <br/> (default value is `name`)
    nameClaimType: ""
    # -- The name of the claim in the JWT token from the OpenID Connect Provider that contains the roles of the logged-in user. <br/> (default value is `roles`)
    roleClaimType: ""
    # -- The name of the claim in the JWT token from the OpenID Connect Provider that contains the email address of the logged-in user. <br/> (default value is `email`)
    emailClaimType: ""
    # -- Optional setting to allow an OpenID Connect Identity Provider running on HTTP. <details> <summary>More information</summary> Add this variable with the value `false` if the identity provider communicates over an HTTP connection. This can be useful in a local development environment. If the provider uses HTTPS, you may omit this variable or set it to `true`. </details>
    requireHttps: true
    # -- Optional setting to automatically log the user out from the Identity Provider when logging out from PABC. <details> <summary>More information</summary> When this setting is `true`, users will be logged out from the Identity Provider when they log out from PABC. This is useful when you want to ensure that users have to log in again when they return to PABC after logging out. When this setting is `false`, users will only be logged out from PABC, and may remain logged in at the Identity Provider. </details>
    logoutFromIdentityProvider: true

  keycloakAdmin:
    # -- Client ID for accessing Keycloak Admin API. <details> <summary>More information</summary> For example: `pabc-admin-client`. This client needs the following roles in Keycloak: `view-realm`, `view-groups`, `view-users`. </details>
    clientId: ""
    # -- Client secret for accessing Keycloak Admin API. <details> <summary>More information</summary> For example: `VM2B!ccnebNe.M*gxH63*NXc8iTiAGhp` </details>
    clientSecret: ""

  aspnetcore:
    forwardedHeadersEnabled: true
    environment: ""
    httpPorts: ""

migrations:
  image:
    repository: "ghcr.io/platform-autorisatie-beheer-component/pabc-migrations"
    pullPolicy: IfNotPresent
    tag: ""
  restartPolicy: Never
  # -- Optionally specify a path to a data set json file to insert into the database. <details> <summary>More information</summary>You can use the extraVolumes and extraVolumeMounts values to mount a data set file into the running container. The file needs to be valid according to <a href="../../PABC.MigrationService/dataset.schema.json">the json schema</a></details>
  dataSetPath: null
  # -- Optionally specify extra list of additional volumes, for example to mount a dataset file.
  extraVolumes: []
  # e.g:
  # extraVolumes:
  #   - name: my-dataset-mount
  #     configMap:
  #       name: my-configmap-containing-my-dataset

  # -- Optionally specify extra list of additional volumeMounts, for example to mount a dataset file.
  extraVolumeMounts: []
  # e.g:
  # extraVolumeMounts:
  #  - name: my-dataset-mount
  #    readOnly: true
  #    subPath: my-dataset
  #    mountPath: /app/dataset.json

#####################
# Postgres subchart #
#####################
postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
  auth:
    username: ""
    password: ""
    database: ""
    postgresPassword: ""
  primary:
    persistence:
      enabled: true
      size: 8Gi
  metrics:
    enabled: false
    image:
      repository: bitnamilegacy/postgres-exporter
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell